.container {
    -fx-background-image: url("../../../images/InputCaptchaBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600 300;
}

.title {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 19px;
    -fx-text-fill: #00BCD4;
}

.create,
.remove {
    -fx-background-color: rgba(102, 102, 102, 0.3);
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 14px;
    -fx-padding: 0px;
}

.create:hover,
.remove:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.create:pressed,
.remove:pressed {
    -fx-background-color: rgba(51, 51, 51, 0.3);
}

.create { -fx-text-fill: #00ff00; }
.remove { -fx-text-fill: #ff3737; }

.text-field {
    -fx-background-color: rgba(102, 102, 102, 0.1);
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: rgba(79, 79, 79, 0.8);
    -fx-font-size: 13px;
    -fx-background-radius: 3px;
}

.captcha {
    -fx-border-width: 2px;
    -fx-border-color: rgba(79, 79, 79, 0.8);
    -fx-border-radius: 2px;
}