.container {
    -fx-background-image: url("../../images/AsusContent.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1200 747;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: rgba(102, 102, 102, 0.3);
    -fx-border-width: 3;
    -fx-padding: 0px;
}

.list-cell {
    -fx-background-color: rgba(31, 31, 31, 0.6);
    -fx-background-insets: -2;
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 14px;
    -fx-text-fill: rgba(102, 102, 102, 0.8);
}

.list-cell:hover {
    -fx-background-color: rgba(23, 23, 23, 0.6);
}

.list-cell:pressed {
    -fx-background-color: rgba(16, 16, 16, 0.6);
}

.grouping-data-first {
    -fx-accent: rgba(59, 59, 59, 0.8);
    -fx-border-width: 3 3 0 3;
    -fx-background-color: rgba(31, 31, 31, 0.6);
    -fx-border-color: rgba(102, 102, 102, 0.3);
}

.grouping-data-middle {
    -fx-accent: rgba(59, 59, 59, 0.8);
    -fx-border-width: 0 3 0 3;
    -fx-background-color: rgba(31, 31, 31, 0.6);
    -fx-border-color: rgba(102, 102, 102, 0.3);
}

.grouping-data-last {
    -fx-accent: rgba(59, 59, 59, 0.8);
    -fx-border-width: 0 3 3 3;
    -fx-background-color: rgba(31, 31, 31, 0.6);
    -fx-border-color: rgba(102, 102, 102, 0.3);
}

.data-title {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 14px;
    -fx-text-fill: rgba(102, 102, 102, 0.8);
}

.text-field {
    -fx-background-color: rgba(102, 102, 102, 0.1);
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: rgba(79, 79, 79, 0.8);
    -fx-font-size: 13px;
}

.check-data {
    -fx-background-color: rgba(102, 102, 102, 0.3);
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 13px;
    -fx-padding: 0px;
    -fx-text-fill: #00ff00;
}

.reset-data-to-default {
    -fx-background-color: rgba(102, 102, 102, 0.3);
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 13px;
    -fx-padding: 0px;
    -fx-text-fill: #f2ff37;
}

.create,
.remove,
.change {
    -fx-background-color: rgba(102, 102, 102, 0.3);
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 16px;
    -fx-padding: 0px;
}

.create:hover,
.remove:hover,
.change:hover,
.reset-data-to-default:hover,
.check-data:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.create:pressed,
.remove:pressed,
.change:pressed,
.reset-data-to-default:pressed,
.check-data:pressed {
    -fx-background-color: rgba(51, 51, 51, 0.3);
}

.create { -fx-text-fill: #00ff00; }
.remove { -fx-text-fill: #ff3737; }
.change { -fx-text-fill: #f2ff37; }